/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
!/public/storage/img/
!/public/storage/img/influencer/
!/public/storage/img/influencer/placeholder-profile.png
!/public/storage/img/platform/
!/public/storage/img/platform/**
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
